<a href='{{site.baseurl}}{{article.url}}'>
    
    <div class='cover center contain' style="position:relative; background-image:url({{article.image}});">        
        
        <div class='center overlay off' style='height: 5.8em; border-style: solid; background: #FFFFFF; border-width: 1px 1px 1px 1px; position: absolute; top:0; width:100%; font-size: 1.9vw;'>
            <br/>
            {{article.title}}
            {% if article.noauthor %}{% else %}<br/>
            {{article.author}}{% endif %}<br/>
        </div>
            
        
    </div>
    
</a>