
<div class='keyline-bottom' style='z-index:10; position:absolute; ; top:0; height:13em; background-color:white;'>

    <div style='position:relative;'>

        <div style='position:absolute; left:0; padding: .7em 0 0 1.3em;'>

            <p class='alt'>

                <a href='{{site.baseurl}}/' class='roman c2sc'>

                    <img src='../../img/logo.svg' style='display:inline; margin:0;'>

                </a>

            </p>

        </div>

        <div class='description' style='position:absolute; right:2.8em; padding:.7em 0 0 0; z-index:10;'>

            <div class='off'>

                <p>

                    <a href='https://www.youtube.com/channel/UChc9IHdf9Iu_opbw67sjr5w'>

                        youtube

                    </a>

                </p>

            </div>

            <div class='off'>

                <p>

                    <a href='http://www.instagram.com/2d.cloud'>

                        instagram

                    </a>

                </p>

            </div>

            <div style='float:right; display:block;'>

                <p>

                    <a href='{{site.baseurl}}/info' style='text-size:2em;'>

                        info

                    </a>

                </p>

            </div>

        </div>

        <div style='position:absolute; right:0; padding:.7em 0 0 0'>

            <p class='alt'>

                <a href='{{site.baseurl}}/cart'>

                    <img src='{{site.baseurl}}/img/cart.png' style='display:inline; max-width:1.3em; margin-top:-.2em;'>

                </a>

            </p>

        </div>

    </div>

</div>
