
<div class='keyline-bottom' style='z-index:10; position:fixed; ; top:0; height:2.6em; background-color:white;'>

    <div style='position:relative;'>

        <div style='position:absolute; left:0; padding: .7em 0 0 1.3em;'>

            <p class='alt'>

                <a href='{{site.baseurl}}/' class='roman c2sc'>

                    <img src='../../img/logo.svg' style='display:inline; margin:0;'>

                </a>

            </p>

        </div>

        <div class='description' style='position:absolute; right:2.8em; padding:.7em 0 0 0; z-index:10;'>

            <div style='float:right; display:block;'>

                <p>

                    <a href='https://shop.2dcloud.com/collections/all'>

                        shop

                    </a>

                </p>

            </div>

        </div>

    </div>

</div>
