
<!--Comic footer-->
{% for author in page.author limit:1 %}
  {% for product in site.categories.shop reversed %}
    {% assign authors = product.author | array_array_to_sentence_string %}
    {% if authors contains author %}
      {% assign url = product.url %}
      {% assign title = product.title %}
    {% endif %}
  {% endfor %}

  <!-- Overwrite variables if a product matches the comic title  -->
  {% for product in site.categories.shop reversed %}
    {% if page.title contains product.title %}
        {% assign url = product.url %}
        {% assign title = product.title %}
    {% endif %}
  {% endfor %}

  {% if url %}
    <footer class='shop-footer center col12'>
      <a class='shop' href='{{site.baseurl}}{{url}}'>Buy <em>{{title}}</em></a>
    </footer>
  {% endif %}

{% endfor %}
