---
layout: default
section: articles
---

<nav class='secondary col2 margin1 space-top4'>
  <a href='{{site.baseurl}}/explodingwrists/' class='{% if page.url == "/explodingwrists/index.html" %}active{% endif %} minor button'>All Posts</a>
  <a href='{{site.baseurl}}/explodingwrists/criticism/' class='{% if page.url == "/explodingwrists/criticism/index.html" %}active{% endif %} minor button'>Criticism</a>
  <a href='{{site.baseurl}}/explodingwrists/interviews/' class='{% if page.url == "/explodingwrists/interviews/index.html" %}active{% endif %} minor button'>Interviews</a>
  <a href='{{site.baseurl}}/explodingwrists/news/' class='{% if page.url == "/explodingwrists/news/index.html" %}active{% endif %} minor button'>News</a>
  <a href='{{site.baseurl}}/explodingwrists/archive/' class='{% if page.url == "/explodingwrists/archive/index.html" %}active{% endif %} minor button'>Archive</a>
</nav>

<div class='col8 content' id='articles'>
  <div class='feed col12'>
    {{content}}
  </div>

  {% if page.url != '/explodingwrists/archive/index.html' %}
    <a class='space-bottom4 center button major col11 margin1' href='/explodingwrists/archive/'>View archive</a>
  {% endif %}
</div>
