--- 
layout: default-alt-4
section: shop 
--- 

{% include header.html %}

<article class='simpleCart_shelfItem'>

    <!-- SHOP ITEM BODY -->
    
    <div class='col12nofloat description topm9'>

        <div class="col8">
            
            <div class="col3">
            
                <img class="col12" src='{{page.image}}'/>
            
            </div>

            <div class='padem13h col6'>
            
                <p class="alt">

                    {{page.title}} {{page.introduction}}

                </p>

            <div class="col3">
            
                <br/>
                
            </div>
            
            </div>

        </div>

        <div class="col4 bottom9">  

{% capture posts %}
  {% for post in site.categories['author'] %}
    |{{ post.title }}#{{ post.url }}
  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}
{% for post in sortedposts offset:1 %}
    {% assign postitems = post | split: '#' %}
            
            <div class='col6 padem13h'>
                <p class="alt">
                    <a class='{% if postitems == page.title %}active{% endif %}' href={{ postitems[1] }}>{{ postitems[0] }}</a><br>
                </p>
            </div>

{% endfor %}
            
        </div>

</article>
