---
layout: default-alt-4
section: shop
---

{% include index-header.html %}

<article class='simpleCart_shelfItem'>


    <!-- SHOP ITEM HEADER -->
    <div class='col12nofloat pad4h' style='margin-top:2.3em;'>

        <header class='col8'>

            {% if page.coverlarge %}
            <a href='{{page.coverlarge}}' class='cursor'>
                <img class='image-1' src='{{page.cover-image}}' />
            </a>
            {% elsif page.cover-image %}
            <img class='image-1' src='{{page.cover-image}}' />
            {% else %}
            <img class='image-1' src='{{page.image}}' />
            {% endif %}

        </header>

        <!-- CART INTERFACE -->

        <!-- SHOP ITEM BODY -->
        <div class='col12nofloat pad4h' style='margin-top:3.9em;'>

            <ul>

                <li class='clearfix' style='margin-bottom:2.6em;'>

                    {{content}}

                </li>


            </ul>

        </div>
        {% if page.pdf %}
        <a style="
    width: 100%;
    text-align: center;
    display: block;
    outline: 1px solid;
    padding: 2em;
    text-decoration: none;
    margin-bottom: 2em;"
    href="{{page.pdf}}">download pdf</a>
        {% endif %}
</article>